<div class="card">
  <img src="{{ movie.imagePath }}" alt="" class="card__image" />
  <div class="card__content">
    <p>{{ movie.Plot }}</p>
    <div class="card__info">
      <div>
        {{ movie.Title }}
        {{ movie.Year }}
      </div>
      <div>
        {{ movie.imdbRating }}
        {{ ", " + movie.Genre }}
      </div>
    </div>
    <button mat-button color="warn" (click)="onDelete(movie.id)">Delete</button>
    <button
      mat-raised-button
      (click)="openDialog(movie.id, movie.Plot, movie.Title, movie.Year)"
    >
      Edit
    </button>
  </div>
</div>
