<input #titleSearch type="text" placeholder="Enter Title" />
<input #yearSearch type="text" placeholder="Enter Year" />
<input #genreSearch type="text" placeholder="Enter Genre" />

<button
  class="btn btn-primary"
  (click)="Search(titleSearch.value, yearSearch.value, genreSearch.value)"
>
  Search
</button>
&nbsp;
<button class="btn btn-primary" (click)="cleanSearch()">Show List</button>
&nbsp;
<button class="btn btn-primary" (click)="addPostToMongo()">Create Post</button>

<h2>Advanced Search</h2>
<input #advancedFromYear type="text" placeholder="Search From Year..." />
<input #advancedRuntime type="text" placeholder="Runtime Greater than..." />

<button
  class="btn btn-primary"
  (click)="searchAdvancedLogic(advancedFromYear.value, advancedRuntime.value)"
>
  Advanced Search
</button>
<button class="btn btn-primary" (click)="cleanAdvancedSearch()">
  Back to List
</button>

<div *ngIf="show">
  <div class="movieslist">
    <app-movie-item
      *ngFor="let singleMovie of movies"
      [movie]="singleMovie"
    ></app-movie-item>
  </div>
</div>
<hr />
<br />
<div *ngIf="edit">
  <input type="text" [(ngModel)]="singleMovieEdit.Plot" />
  <input type="text" [(ngModel)]="singleMovieEdit.Year" />
  <input type="text" [(ngModel)]="singleMovieEdit.Title" />
  <hr />
  <button class="btn btn-primary" (click)="sendUpdateMovie()">Save</button>
</div>

<div *ngIf="createMovie">
  <input #newTitle type="text" placeholder="Enter Title" />
  <input #Year type="text" placeholder="Enter Year" />
  <input #Runtime type="text" placeholder="Enter Runtime" />
  <input #Plot type="text" placeholder="Enter Plot" />
  <input #Genre type="text" placeholder="Enter Genre" />
  <input #imdbRating type="text" placeholder="Enter imdbRating" />
  <input #imagePath type="text" placeholder="Enter imagePath" />
  <hr />
  <button
    class="btn btn-primary"
    (click)="
      sendCreatedMovie(
        newTitle.value,
        Year.value,
        Runtime.value,
        Plot.value,
        Genre.value,
        imdbRating.value,
        imagePath.value
      )
    "
  >
    Save
  </button>
  <button class="btn btn-primary" (click)="backToList()">Back</button>
</div>

<div *ngIf="advancedMovies">
  <table id="users">
    <tr>
      <th>
        Genre
      </th>
      <th>
        Movies
      </th>
    </tr>
    <tr *ngFor="let singleMovie of movies">
      <td>
        {{ singleMovie.Genre }}
      </td>
      <td>
        {{ singleMovie.Title }}
      </td>
    </tr>
  </table>
</div>
